/* || General Styles */
:root {
  --clr-background: #6B8CFF;
  --clr-primary: #FD882B;
  --clr-cards: #FFC700;
  --clr-font: #6B8CFF;
  --clr-wht: rgb(255, 255, 255) ; /* with alpha*/
  
  --font-size: 62.5%;
  --border-radius: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Holtwood One SC', serif;
  font-size: var(--font-size);
  color: var(--clr-wht); 
  background-color: var(--clr-background);
}

/* || Typography */

h2 {
  font-size: 2rem;
}

/* || Utilities -- for styling choices you want to apply to a lot of elements << ref MDN*/

/* || Header */

/* || Main */
main {
  position: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10rem;
}

/* || Gameboard */

#game {
  position: block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#game > .container {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px;
  /* background-color: transparent; */
  /* border: 1px solid black; */
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card__front, 
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__front {
  border: 2px solid var(--clr-wht);
  transform: rotateY(180deg);
}

.card__back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: var(--clr-cards);
  border-radius: 20%;
  border: 10px solid var(--clr-wht);
}

.red {
  background-color: red;
} 

.orange {
  background-color: orange;
} 

.green {
  background-color: green;
} 

.blue {
  background-color: blue;
} 

.purple {
  background-color: purple;
} 