/* || General Styles */
:root {
  --clr-background: hsl(227, 100%, 71%);
  --clr-primary: #FD882B;
  --clr-cards: #FFC700;
  --clr-font: #6B8CFF;
  --clr-wht: rgb(255, 255, 255) ; /* with alpha*/
  
  --font-size: 62.5%;
  --font-main: 'Holtwood One SC', serif;
  --border-radius: 1rem;
  --box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: var(--font-main);
  font-size: var(--font-size);
  text-align: center;
  color: var(--clr-wht); 
  background-color: var(--clr-background);
}

/* || Typography */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

/* || Utilities -- for styling choices you want to apply to a lot of elements << ref MDN*/

button {
  padding-block: 10px;
  padding-inline: 30px;
  margin-block: 10px;
  font-family: var(--font-main);
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: var(--clr-wht);
  background-color: var(--clr-primary);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 0 0 rgb(194, 86, 24); 
  cursor: pointer;
}

button:active {
  transform: translate(0, 4px); 
  box-shadow: none;
}

.secondary-btn {
  background-color: hsl(227, 100%, 74%);;
  border: 2px solid rgb(64, 105, 199);
  box-shadow: 0 4px 0 0 rgb(64, 105, 199);
}

/* || Header */
header {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  height: 100%;
  width: 100%;
  background-color: var(--clr-background);
}
/* || Main */
main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  height: 100%;
  width: 100%; 
}

/* || Gameboard */

#game {
  position: block;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-auto-rows: minmax(100px, auto);
  /* grid will implicitly create rows to fit content 
  https://youtu.be/rg7Fvvl3taU?t=651 */
  justify-items: center; 
  gap: 20px;
}


  @media screen and (max-width: 600px) {
    #game {
      grid-template-columns: repeat(4, 75px);
      grid-auto-rows: minmax(75px, auto);
    }
  }

#game > .container {
  display: inline-block;
  width: 100%;
  height: 100%;
  /* background-color: transparent; */
  /* border: 1px solid black; */
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card__front, 
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__front {
  border: 2px solid var(--clr-wht);
  transform: rotateY(180deg);
}

.card__back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-cards);
  border-radius: 20%;
  border: 10px solid var(--clr-wht);
  font-size: 5em;
}

  @media screen and (max-width: 600px) {
    .card__back {
      border-width: 7px;
      font-size: 3em;
    }
  }

/* || Popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  color: var(--clr-font);
  background-color: var(--clr-wht);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.popup h2,
h3 {
  margin-block: 10px;  
}

